body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo */
}

header {
    background-color: #4b0082; /* Color del encabezado */
    color: white;
    padding: 20px;
    text-align: center;
}

.main {
    padding: 20px;
}

.user-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-name {
    font-weight: bold;
    color: #333; /* Color del nombre del usuario */
}

.user-email {
    color: #666; /* Color del correo electrónico del usuario */
}
