body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: blueviolet;
}

.container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
}

.question {
    margin-bottom: 10px;
}

.options {
    list-style: none;
    padding: 0;
}

.option {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.option input {
    margin-right: 10px;
}

.submit-button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}